.logo{
    height:60px;
    width:200px;
}
.text_header{
    color: grey;
    
    text-decoration: none;
    font-size: medium;
}
.text_header:hover{
    color:black;
    font-weight:bold;
}
.btn_search{
    top:35px;
    position: absolute;
    right:35px;
}
.latin{
    height:400px;
}
.box{
    background-color: dimgray;
     height:380px;
     width:380px;

}
h3{
    color:white;
    text-align: left;
    left:10px;
    top:10px;
    position: relative;
   
}
